<span class="sharing">
    <a href="http://twitter.com/share?url={{ site.url }}{{ page.url }}&via={{ site.twitter_user }}"><i class="icon-large icon-twitter"></i></a>
    <a href=""><i class="icon-large icon-google-plus-sign"></i></a>
    <a href=""><i class="icon-large icon-facebook"></i></a>
</span>
<!--
<div class="sharing">
  {% if site.twitter_tweet_button %}
  <a href="http://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}{{ page.url }}" data-via="{{ site.twitter_user }}" data-count="none" data-counturl="{{ site.url }}{{ page.url }}" >Tweet</a>
  {% endif %}
  {% if site.google_plus_one %}
  <div class="g-plusone" data-size="{{ site.google_plus_one_size }}" data-annotation="none"></div>
  {% endif %}
  {% if site.facebook_like %}
    <div class="fb-like" data-width="450" data-show-faces="false"></div>
  {% endif %}
</div>
-->
