<a class="sharing tweet" title="Share on Twitter" href="http://twitter.com/share?url={{ site.url }}{{ page.url }}"><i class="icon-large icon-twitter"></i></a>
<a class="sharing gplus" title="Share on Google+" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}"><i class="icon-large icon-google-plus-sign"></i></a>
<a class="sharing facebook" title="Share on Facebook" href="http://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url }}"><i class="icon-large icon-facebook"></i></a>
