body > footer {
  @extend .sans;
  color: $footer-color;
  margin: 0;
  position: relative;
  padding-top: 2em;
  padding-bottom: 2em;
  z-index: 1;
  > p {
    font-size: .8em;
    line-height: 1.2em;
    a {
      @include link-colors($footer-link-color, $footer-link-color-hover, $visited: $footer-link-color);
      &.rss {
        text-decoration: none;
      }
    }
  }
  p:last-child { margin-bottom: 0; }
}
