#menu {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-bottom: 5px solid $nav-border-bottom;
  nav {
    padding: .5em 0;
    ul {
      @include horizontal-list(0);
      display: table;
      margin: 0 auto;
      li {
        margin: 0;
        font-size: 0.5em;
        a, i.fa-search {
          @include link-colors($nav-color, $nav-color-hover, $visited: $nav-color);
          font-size: 1em;
          line-height: 1.2em;
          padding: 0 .5em;
        }
        a {
          font-family: $sans;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }    
  }
}

#menu.fixed {
  position: fixed;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
}