<div class="md-modal md-effect-1" id="modal-1">
    <div class="md-content">
        <div class="md-close"><i class="fa fa-lg fa-times-circle-o"></i></div>
        <div class="query">
            <form method="get">
                <input type="text" id="search-query" name="q" placeholder="Search" autocomplete="off"/>
            </form>
        </div>
        <div id="search-results" class="results" style="display: none;">
            <div class="search-entries"></div>
        </div>
        <div class="footer"></div>
    </div>
</div>
