{% if site.twitter_follow_button or site.twitter_tweet_button %}
<script>
    $('a[class*=tweet]').on('click', function(e) {
        e.preventDefault();
        var width  = 575,
            height = 400,
            left   = window.screenLeft + (window.innerWidth - width) / 2,
            top    = window.screenTop + (window.innerHeight - height) / 2,
            url    = this.href,
            opts   = 'status=1' +
                    ',width='  + width  +
                    ',height=' + height +
                    ',top='    + top    +
                    ',left='   + left;
        window.open(url, 'twitter', opts);
    });
</script>
{% endif %}
